@font-face {
    font-family: 'FontePrincipal';
    src: url(./font/Karla-Bold.ttf);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'FontePrincipal';
    background-color: rgb(226, 241, 231) ;
}

.asterisco{
    color: rgb(12, 125, 105);
}

#box{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

#conteudo{
    display: flex;
    align-items: center;
    background-color: RGB(255, 255, 255);
    padding: 20px;
    border-radius: 8px 8px 8px;
    box-shadow: 2px 2px rgb(216, 216, 216);
}

#conteudo h1{
    font-size: 22px;
}

/* Linha 01 */
#linha01{
    display: flex;
}

#firstName{
    font-size: 15px;
    color: rgb(88, 88, 88);
    padding-top: 20px;
}

.inputLinha01{
    border-radius: 5px;
    border-style: solid;
    padding-left: 20px;
    border-width: 1px;
    margin-top: 10px;
    height: 30px;
    width: 100%;
}

.inputLinha01:hover{
    cursor: pointer;
    border-color: rgb(12, 125, 105);
}

#lastName{
    font-size: 15px;
    color: rgb(88, 88, 88);
    padding-top: 20px;
    padding-left: 20px;
}

#erroFirstName{
    font-size: 12px;
    padding-top: 5px;
    color: red;
    display: none;
}

#erroLastName{
    font-size: 12px;
    padding-top: 5px;
    color: red;
    display: none;
}



/* Linha 02 */
#emailAddress{
    font-size: 15px;
    padding-top: 20px;
    color: rgb(88, 88, 88);
}

#txtEmail{
    border-radius: 5px;
    padding: 5px;
    padding-left: 20PX;
    border-width: 1px;
    margin-top: 10px;
    width: 100%;
    height: 30px;
    border-style: solid;
}

#erroEmail{
    font-size: 12px;
    padding-top: 5px;
    color: red;
    display: none;
}

#txtEmail:hover{
    cursor: pointer;
    border-color: rgb(12, 125, 105);
}

/* Linha03 */
#linha03{
    font-size: 15px;
    padding-top: 20px;
    color: rgb(88, 88, 88);
}

.inputLinha03{
    border-radius: 5px;
    border-style: solid;
    padding-left: 30px;
    border-width: 1px;
    height: 30px;
    width: 180px;
    background-color: white;
    border-color: gray;
}

#linha03Input{
    display: flex;
}

#txt01{
    font-size: 15px;
    color: rgb(88, 88, 88);
    padding-top: 20px;
}

#txt02{
    font-size: 15px;
    color: rgb(88, 88, 88);
    padding-top: 20px;
    padding-left: 20px;
}

#checkbox01Linha03{
    display: flex;
    position: relative;
    top: -22px;
    left: 10px;
    cursor: pointer;
}

#checkbox02Linha03{
    display: flex;
    position: relative;
    top: -22px;
    left: 10px;
    cursor: pointer;
}

.inputLinha03:hover{
    background-color: rgb(224, 241, 231);
    cursor: pointer;
    border-color: rgb(12, 125, 105);
}

/* Linha 04 */
#linha04{
    font-size: 15px;
    padding-top: 20px;
    color: rgb(88, 88, 88);
}

#txtMessage{
    border-radius: 5px;
    padding: 5px;
    border-width: 1px;
    margin-top: 10px;
    resize: none;
    width: 100%;
    height: 80px;
}

#erroMessage{
    font-size: 12px;
    padding-top: 5px;
    color: red;
    display: none;
    padding-bottom: 10px;
}

/* Linha 05 */
#linha05{
    padding-top: 20px;
}

#concent{
    display: flex;
    width: 100%;
}

#txtLinha05{
    font-size: 15px;
    color: rgb(88, 88, 88);
    padding-left: 10px;
}

#checkboxLinha05:hover{
    cursor: pointer;
}

#erroCheckboxLinha05{
    font-size: 12px;
    padding-top: 5px;
    color: red;
    display: none;
}

/* Linha 06 */
#linha06{
    display: flex;
    justify-content: center;
}

#btnSubmit{
    width: 100%;
    margin-top: 20px;
    height: 40px;
    font-size: 14px;
    color: white;
    background-color: rgb(12, 125, 105) ;
    cursor: pointer;
    border-radius: 5px;
    border-width: 1px;
    border-color: white ;
}

#modal{
    margin-left: 38%;
    width: 25%;
    justify-content: center;
    border-radius: 20px 20px 20px;
    padding-top: 20px;
    display: none;
}


#txtModal{
    font-style: normal;
    border-radius: 10px 10px 10px;
    background-color: rgb(42, 66, 68);
    padding: 20px;
    color: RGB(239, 248, 248);
}

#txtModal p{
  padding-top: 10px;
  color: rgb(164, 184, 183);
}

/* Footer */
footer{
    display: flex;
    justify-content: center;
    padding-top: 10px;
}