@media screen and (max-width: 767px){
    #conteudo h1{
        font-size: 28px;
    }
    
    #conteudo{
        width: 80%;
    }

    #linha01{
        display: block;
    }
    
    .inputLinha01{
        height: 40px;
        width: 75%;
    }

    #lastName{
        padding-left: 0px; 
    }

    #txtEmail{
        width: 75%;
        height: 40px;
    }










    #linha03{
        font-size: 15px;
        padding-top: 20px;
        color: rgb(88, 88, 88);
    }
    
    .inputLinha03{
        /* display: none; */
        border-radius: 5px;
        border-style: solid;
        padding-left: 30px;
        border-width: 1px;
        height: 30px;
        width: 180px;
        background-color: white;
        border-color: gray;
    }
    
    #linha03Input{
        display: flex;
    }
    
    #txt01{
        font-size: 15px;
        color: rgb(88, 88, 88);
        padding-top: 20px;
    }
    
    #txt02{
        font-size: 15px;
        color: rgb(88, 88, 88);
        padding-top: 20px;
        padding-left: 0px;
    }
    
    #checkbox01Linha03{
        display: flex;
        position: relative;
        top: -22px;
        left: 10px;
        cursor: pointer;
    }
    
    #checkbox02Linha03{
        display: flex;
        position: relative;
        top: -22px;
        left: 10px;
        cursor: pointer;
    }
    
    .inputLinha03:hover{
        background-color: rgb(224, 241, 231);
        cursor: pointer;
        border-color: rgb(12, 125, 105);
    }




















    /* #linha03Input{
        display: flex;
    }

    .inputLinha03{
        border-radius: 5px;
        border-style: solid;
        padding-left: 30px;
        border-width: 1px;
        height: 30px;
        width: 180px;
        background-color: white;
        border-color: gray;
    }
    
    #linha03Input{
        display: flex;
    }

    .inputLinha03{
        height: 40px; 
        text-indent: 30px; 
    }

    #txt02{
        font-size: 15px;
        padding-top: 0px;
        padding-left: 0px;
    }
    
    #checkbox01Linha03{
        top: -27px;
        left: 20px;
        transform: scale(1.5);
    }
    
    #checkbox02Linha03{
        top: -27px;
        left: 20px;
        transform: scale(1.5);
    }


 */










    #txtMessage{
        width: 75%;
        height: 150px;
    }

    #txtLinha05{
        font-size: 15px;
        color: rgb(88, 88, 88);
        padding-left: 10px;
    }

    #linha05{
       width: 75%;
    }

    #checkboxLinha05{
        transform: scale(1.5);
    }
    
    #btnSubmit{
        width: 75%;
        margin-top: 20px;
        height: 40px;
    }

    #linha06{
        display: block;
    }

    #modal{
        display: none;
        width: 90%;
        margin-left: 0%;
        padding-left: 10%;
        padding-top: 20px;
    }
     
    footer{
        display: flex;
        justify-content: center;
        padding-top: 10px;
        font-size: 15px;
    }
}